---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - marini.jp">
    <div class="w-full flex flex-col items-center bg-white max-w-screen-lg shadow-lg">
        <section class="w-full max-w-screen-lg py-32">
            <div class="text-center">
                <h1 class="text-6xl text-mblue-400 mb-4">404</h1>
                <p class="text-lg">Page not found.</p>
            </div>
        </section>
    </div>
</Layout>
